<html>
	<head>
        <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"> </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.0.0/p5.js"> </script>
        <style>
            html, body {
                height: 100%;
		    	width: 100%;
		    	overflow: none;
                font-family: monospace;
            }

            body {
                margin: 0;
            }
		
			canvas {
				top: 0;
				left: 0;
				position: absolute
			}
			
			#app {
				position: fixed;
				z-index: 5000;
				top: 0;
				left: 0;
			}

            #controls  {
				
		    	font-family: monospace;
	        	background-color: rgba(0, 0, 0, 0.5);
                
                top: 0;
	        	left: 0;
                padding: 20px;
                border-radius: 4px;
                border: 1px solid #eee;
                margin: 20px;
                
            }

            label {
                padding: 4px;
                margin: 4px;
                vertical-align: top;
            }

            .slider {
                margin: 4px
            }
		
	    .slider input[type=checkbox] {
		    float: right;
	    }
        
	</style>
    
	
</head>
	<body>

        
		<div id="app"><div id="controls">
            <div class="slider"><label for="">max_points </label> <input v-model="max_points" type="range" min="0" max="2500"> {{ max_points }} </div>
			<div class="slider"><label for="">max_lines </label> <input v-model="max_lines" type="range" min="0" max="2500"> {{ max_lines }} </div>
			<div class="slider"><label for="">muis power </label> <input v-model="mouse_strength" type="range" min="0" max="50"> {{ mouse_strength }} </div>
			<div class="slider"><label for="">wrijving </label> <input v-model="damping" type="checkbox"></div> 
			<div class="slider"><label for="">Alleen als muis beweegt</label> <input v-model="on_mouse_move_only" type="checkbox"></div> 
			<div class="slider"><label for="">punten tekenen</label> <input v-model="draw_points" type="checkbox"></div> 
            <div class="slider"><label for="">Chaos in beweging</label> <input v-model="chaos" type="checkbox"></div>
            <div class="slider"><label for=""># Verbindingen tekenen</label> <input v-model="draw_no_connections" type="checkbox"></div>
            <div class="slider"><label for="">fade sterkte </label> <input v-model="fade_strength" type="range" min="0" max="255"> {{ fade_strength }}</div> 
            <br/><br/>
            <div class="slider"><label for="">line_count </label> {{ line_count }} </div>
        </div>
	
	<script>

		var points = []
		var lines = []		
		var max_velocity = 7 
		var r = 40

        var vue;
        var pg; // buffer

		var scale_factor = 0.4

		function setup() {
			
            vue = new Vue({
                el: "#app",
                data: {
                    max_points: 500,
                    max_lines: 700,
                    line_count: 0,
                    damping: true,
                    mouse_strength: 50,
                    on_mouse_move_only: true,
                    chaos: true,
                    draw_points: true,
                    draw_no_connections: false,
                    fade_strength: 50
                },
                watch: {
                    max_points: function(value) {
                        if (value < points.length) {
                            points = points.slice(0, value)
                        } else {
                            for (var i = 0; i < value - points.length; i++) {
                                var p = createVector(random(windowWidth), random(windowHeight))
                                p.velocity = createVector(0, 0)
                                p.close_points = 0
                                points.push(p)
                            }
                        }
                    }
                }
            })
                
            createCanvas(windowWidth, windowHeight)
            pg = createGraphics(windowWidth, windowHeight)
            back = createGraphics(windowWidth, windowHeight)

            for (var i = 0; i < vue.max_points; i++) {
                var p = createVector(random(windowWidth), random(windowHeight))
                while ((Math.pow(p.x - 0.5 * windowWidth, 2) + Math.pow(p.y - 0.5 * windowHeight, 2) > 240 * 240)) { 
                    //||  (Math.pow(p.x - 0.5 * windowWidth, 2) + Math.pow(p.y - 0.5 * windowHeight, 2) k 200 * 200 )) { 
                    p = createVector(random(windowWidth), random(windowHeight))
                }
                    
                //p.velocity = createVector(random(max_velocity) * (random(2) - 1), random(max_velocity) * (random(2) - 1))
                p.velocity = createVector(0, 0)
                p.close_points = 0
                points.push(p)
            }


		}

		function windowResized() {
		    resizeCanvas(windowWidth, windowHeight);
		}


		function mouseMoved() {
			if (!vue.on_mouse_move_only)
				return
			for (var i = 0; i < points.length; i++) {
				var p = points[i]
				var dx = p.x - mouseX
				var dy = p.y - mouseY

				p.velocity.x += vue.mouse_strength * dx / (dx * dx + dy * dy)
				p.velocity.y += vue.mouse_strength * dy / (dx * dx + dy * dy)

			}
				
		}



		function draw() {
			lines = []
			update_points()
            draw_lines()
            

		}

		function update_points() {
			for (var i = 0; i < points.length; i++) {
				var p = points[i]
				var dx = p.x - mouseX
				var dy = p.y - mouseY

				if (!vue.on_mouse_move_only) {
					p.velocity.x += vue.mouse_strength * dx / (dx * dx + dy * dy)
					p.velocity.y += vue.mouse_strength * dy / (dx * dx + dy * dy)
				}
			
				if (vue.chaos) {
					if (random(100) > 95) {
						p.velocity.x += ((random(2) - 1) * random(10))/ 20
						p.velocity.y += ((random(2) - 1) * random(10))/ 20
					}
				}

			}

			for (var i = 0; i < points.length; i++) {
				var p = points[i]
				
				var m = p.velocity.x * p.velocity.x + p.velocity.y * p.velocity.y
				if (m == 0) {
					continue
				}
					
				if (m > max_velocity * max_velocity) {
					p.velocity.setMag(max_velocity)
				} else {
					if (vue.damping) {
						p.velocity.x *= 0.99
						p.velocity.y *= 0.99
					}
				}

				if (abs(p.velocity.x) < 0.1) {
					p.velocity.x = 0
				}

				if (abs(p.velocity.y) < 0.1) {
					p.velocity.y = 0
				}

				p.x += p.velocity.x 
				p.y += p.velocity.y

				if (p.x < 0 || p.x > windowWidth) {
					p.x = p.x < 0 ? 0 : windowWidth
					p.velocity.x = -p.velocity.x
				}
				if (p.y < 0 || p.y > windowHeight) { 
					p.y = p.y < 0 ? 0 : windowHeight
					p.velocity.y = -p.velocity.y
				}

					
			}
		}


		function draw_lines() {
            pg.clear()
            lines = []


            for (var i = 0; i < points.length; i++) {
                points[i].close_points = 0
            }

			for (var i = 0; i < points.length; i++) {
				var p1 = points[i]


				for (var j = i + 1; j < points.length; j++) {

					var p2 = points[j]

					if (i == j) {
						continue
					}


					var dx = p2.x - p1.x
                    var dy = p2.y - p1.y
                    var d = dx * dx + dy * dy;
					if (d < r * r) {

                        p1.close_points++
                        p2.close_points++

                                                lines.push({
                            p1: p1,
                            p2: p2,
                            d: d
                        })
					        
					}

				}
			}

            for (var k = 0; k < lines.length; k++) {

				pg.drawingContext.beginPath()
				var line = lines[k]
				
                      //opacity = 1
                if (line.p1.close_points >1 && line.p2.close_points >1) {
                    var opacity = (1 - line.d / (r  * r))
                    //var opacity = 1.0;
				    pg.drawingContext.moveTo(round(line.p1.x), round(line.p1.y))
                    pg.drawingContext.lineTo(round(line.p2.x), round(line.p2.y))
                    pg.drawingContext.stroke()
                    //drawingContext.strokeStyle = "rgba(0, 0, 0, " + opacity + ")"
                    
                }
                
				//line(lines[k][0].x, lines[k][0].y, lines[k][1].x, lines[k][1].y)

            }
            
//             back.fill(255, Number(vue.fade_strength))
//             back.rect(0, 0, windowWidth, windowHeight)
            
//             tint(255, 255, 255, 200)
//             back.image(pg, 0, 0)

//             image(back, 0, 0)

            if  (vue.draw_points) {

                for (var i = 0; i < points.length; i++) {
                    circle(points[i].x, points[i].y, 5)
                    if (vue.draw_no_connections) {
                        text(points[i].close_points, points[i].x + 5, points[i].y +5)
                    }
                }
            }


			vue.line_count = lines.length;
        }



    </script>

</body>
